<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>index</title>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>
	<div class="container">
		<a href="/cadastrarPessoa" class="waves-effect waves-light btn"><i
			class="material-icons left">add_circle_outline</i>Cadastrar Pessoa</a> <a
			href="/cadastrarProduto" class="waves-effect waves-light btn"><i
			class="material-icons left">add_circle_outline</i>Cadastrar Produto</a> <a
			href="/pessoas" class="waves-effect waves-light btn"><i
			class="material-icons left">add_circle_outline</i>Listar Pessoas</a> <a
			href="/produtos" class="waves-effect waves-light btn"><i
			class="material-icons left">add_circle_outline</i>Listar Produtos</a>
		<h1>Lance</h1>

	</div>

	<div class="container">
		<div class="row">
			<form>
				<select class="browser-default col s6">
					<option value="" disabled selected>Selecione o produto</option>
					<option th:each="produto : ${produtos}" th:value="${produto.nome}"
						th:text="${produto.nome}">Option 1</option>
					<option th:each="produtos : ${produto}" th:value="${produtos.id}"
						th:text="${produtos.nome}" selected="selected"></option>
				</select>
		</div>
		<div class="row">
			<select class="browser-default col s6">
				<option value="" disabled selected>Selecione a pessoa a dar
					o lance</option>
			</select>
		</div>
		<div class="row">
			<div class="input-field col s3">
				valor do lance: <input type="number" value="" name="valor"
					step=".01" min="0" />
			</div>
		</div>
		<div class="row">
			<button class="waves-effect waves-light btn" type="submit">Dar
				Lance</button>
		</div>
	</div>
	</form>
	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			var elems = document.querySelectorAll('select');
			var instances = M.FormSelect.init(elems, options);
		});

		//     	  // Or with jQuery

		//     	  $(document).ready(function(){
		//     	    $('select').formSelect();
		//     	  });
	</script>
</body>

</html>