<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>index</title>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<div class="container">
		<a href="/cadastrarPessoa" class="waves-effect waves-light btn"><i
			class="material-icons left">add_circle_outline</i>Cadastrar Pessoa</a> <a
			href="/cadastrarProduto" class="waves-effect waves-light btn"><i
			class="material-icons left">add_circle_outline</i>Cadastrar Produto</a> <a
			href="/pessoas" class="waves-effect waves-light btn"><i
			class="material-icons left">list</i>Listar Pessoas</a> <a
			href="/produtos" class="waves-effect waves-light btn"><i
			class="material-icons left">list</i>Listar Produtos</a> <a href="/lance"
			class="waves-effect waves-light btn col s6"><i
			class="material-icons left">local_offer</i>Fazer lance</a>
	</div>
	<div th:each="produto: ${produto}" class="container">
		<div class="row">
			<h1>Detalhes do produto</h1>
			<p>
				Nome: <span th:text="${produto.nome}"></span>
			</p>
			<p>
				Valor: <span th:text="${produto.valor}"></span>
			</p>
		</div>
	</div>

	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>

</html>